<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotSpatial.Projections" version="1.9" targetFramework="net452" />
  <package id="GeoAPI.CoordinateSystems" version="1.7.5" targetFramework="net452" />
  <package id="GeoAPI.Core" version="1.7.5" targetFramework="net452" />
  <package id="NetTopologySuite" version="1.15.2" targetFramework="net461" />
  <package id="NetTopologySuite.CoordinateSystems" version="1.15.2" targetFramework="net461" />
  <package id="NetTopologySuite.Core" version="1.15.2" targetFramework="net461" />
  <package id="NetTopologySuite.Diagnostics.Tracing" version="0.0.1" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.5.1" targetFramework="net461" />
</packages>