<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BitMiracle.LibTiff.NET" version="2.4.584.1" targetFramework="net45" />
  <package id="DotSpatial.Projections" version="1.9" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="SqlServerSpatial.Toolkit" version="1.0.1" targetFramework="net45" />
  <package id="ZeroFormatter" version="1.6.4" targetFramework="net45" />
  <package id="ZeroFormatter.Interfaces" version="1.6.4" targetFramework="net45" />
</packages>