<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BitMiracle.LibTiff.NET" version="2.4.560" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Types" version="11.0.2" targetFramework="net45" />
  <package id="System.Numerics.Vectors" version="4.3.0" targetFramework="net45" />
</packages>